/* --------------------------------------푸터 위쪽(시작)----------------------------------------- */

footer .container{
    padding :30px;
}

.footer_content_top{
    display:flex;
}

.footer_content_top ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer_content_top ul li {
    display: inline-block;
    margin-right: 30px;
    margin-top: 10px;
}

.footer_content_top ul li a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: bold;
}

/* --------------------------------------푸터 가운데(왼쪽)----------------------------------------- */
.footer_content{
    display:flex;
}

.footer_content a{
    text-decoration: none;
    color:black;
}
.middle_content2 ul li a{
    text-decoration: none;
    color:gray;
}
.left_content{
    padding : 0 ;
}
.left_content ul{
    list-style:none;
    text-align:left;
    padding : 0;
}

.left_content ul li {
    color:gray;
    font-weight: bold;
    margin-top:5px;
}

#phone{
    font-size:30px;
    font-weight: bold;
    margin-bottom:10px;
    color:black;
}

/* --------------------------------------푸터 가운데(가운데)----------------------------------------- */

.middle_content1{
    font-size:14px;
    margin-left:60px;
    margin-top:20px;
    font-weight: bold;
}
.top1 ul{
    list-style:none;
    display: inline-block;
}

.top1 ul li{
    display: inline-block;
    margin-right: 20px;
}

.middle1{
    display:flex;
}

.middle1 ul{
    list-style:none;
    margin-top:10px;
    display:inline-block;
}

.middle1 ul li{
    margin-bottom:5px;
    color:gray;
}

.middle_content2{
    font-size:14px;
    margin-left:40px;
    margin-top:20px;
    font-weight: bold;
}

.top2 ul{
    list-style:none;
    display: inline-block;
}

.top2 ul li{
    display: inline-block;
    margin-right: 20px;

}

.top2 ul li a{
    color: black;
}
.middle2{
    display:flex;
}
.middle2 ul{
    list-style:none;
    display : inline-block;
}

.middle2 ul li{
    margin-bottom:5px;
    color:gray;

}

.middle2 ul li a:hover{
    color:black;
}



/* --------------------------------------푸터 가운데(오른쪽)----------------------------------------- */

.right_content{
    font-size:14px;
    margin-left:40px;
    margin-top:20px;
    font-weight: bold;
}

.right_content ul{
    list-style: none;

}
.litop{
    margin-bottom:20px;
}

