/* --------------------------------------푸터 위쪽(시작)----------------------------------------- */

 .container{
   	width: 1020px;
    display: block;
    padding: 20px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
	 
}

.footerMenu{
    display: flex;
    width: 1020px;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0px 18px;
}

.footerBottom{
	width:1020px;
 	display: grid;
    grid-template-columns: repeat(1, 1fr 1fr);
}


.aboutUs{
	     display: flex;
    flex-direction: column;
    padding: 10px 0px 10px;
}
.noticeSection{
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    /* flex-direction: column; */
    padding: 10px 0px 10px;
}