@charset "UTF-8";


* {
	margin: 0;
	padding: 0;
}

/* 첫번째 헤더부분 */ /* 첫번째 헤더부분 */ /* 첫번째 헤더부분 */ /* 첫번째 헤더부분 */
.first_header {
	font-size: 12px;
	height: 43px;
	line-height: 43px;
	vertical-align: middle;
	position: relative;
}

.first_row {
	position: relative;
}

.btn-link {
	/* white-space 속성을 normal로 변경하여 텍스트 줄 바꿈 가능하도록 함 */
	white-space: normal;
}

.first_header .col_1st>.btn::after {
	content: " | ";
	color: rgba(0, 0, 0, 0.3);
	font-size: 0.9em;
}

.first_header .dropdown-divider {
	border-top: 1px dashed gray;
}

.first_header .btn {
	font-size: 1em;
	text-decoration: none;
	padding: 10px 0px;
}

.first_header .btn-group {
	font-size: 1.1em;
}

/* 화살표를 없애는 스타일 */
.first_header .btn-group .btn.dropdown-toggle::after {
	display: none;
}

hr.hr_first {
	background-color: rgba(0, 0, 0, 0.1);
	clear: both;
}

.first_header .col_1st>.btn::before {
	content: " / ";
	color: rgba(0, 0, 0, 0.3);
	font-size: 0.9em;
}

.first_header .col_1st>.btn {
	font-weight: bold;
	color: rgba(0, 0, 0, 0.1);
	width: 129px;
	display: inline-block;
	flex-shrink: 0;
	position: relative;
	left: -40px;
}

.first_header .col_2nd>.btn {
	font-weight: bolder;
	width: 96px;
	display: inline-block;
	position: relative;
	left: -22px;
	flex-shrink: 0;
}

.first_header .col_3rd {
	font-weight: bolder;
	width: 753px;
	display: inline-block;
	flex-shrink: 0;
	position: relative;
	left: -23px;
	flex-shrink: 0;
}

.first_header button {
	color: black;
}

.first_header .col_4th>.btn-group {
	font-weight: bolder;
	display: inline-block;
	flex-shrink: 0;
	position: relative;
	left: -35px;
	flex-shrink: 0;
}

.first_header .col_4th .dropdown-menu .dropdown-item {
	font-weight: bold;
	font-size: 13px;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 115px;
}

.first_header .col_5th>.btn-group {
	font-weight: bolder;
	display: inline-block;
	flex-shrink: 0;
	position: relative;
	left: -13px;
}

.first_header .col_5th .btn-group .dropdown-menu {
	font-size: 13px;
	text-align: center;
}

.first_header .col_5th .dropdown-menu .dropdown-item {
	font-weight: bold;
	text-align: center;
}

.first_header .col_6th>.btn-group {
	font-weight: bolder;
	display: inline-block;
	flex-shrink: 0;
	position: relative;
	flex-shrink: 0;
	left: -35px;
}

.first_header .col_6th .btn-group .dropdown-menu {
	font-size: 13px;
	text-align: center;
}

.first_header .col_6th .dropdown-menu .dropdown-item {
	font-weight: bold;
	text-align: center;
}

.first_header .col_7th>.btn-group {
	font-weight: bolder;
	display: inline-block;
	flex-shrink: 0;
	position: relative;
	left: 1235px;
	top: -44px;
}

.first_header .col_7th .btn-group .dropdown-menu {
	font-size: 13px;
	text-align: center;
}

.first_header .col_7th .dropdown-menu .dropdown-item {
	font-weight: bold;
	text-align: center;
}

/* 두번째 헤더부분 */ /* 두번째 헤더부분 */ /* 두번째 헤더부분 */ /* 두번째 헤더부분 */

/* 스와이퍼쪽 */ /* 스와이퍼쪽 */ /* 스와이퍼쪽 */ /* 스와이퍼쪽 */ /* 스와이퍼쪽 */
.swiper-container {
	position: relative;
	height: 120px;
	width: 240px;
	line-height: 0;
	z-index: 0;
}

.swiper-pagination {
	position: absolute;
	z-index: 100;
	text-align: center;
}

.arrow {
	position: absolute;
	z-index: 100;
	border-radius: 5px;
	cursor: pointer;
}

.first_swiper_container, .first_swiper_wrapper {
	margin: 0;
	padding: 0;
}

.first_swiper_container .swiper_button_next, .swiper_button_prev {
	z-index: 100;
	position: absolute;
}

.first_swiper_container .swiper_button_prev {
	bottom: 20px;
	right: 30px;
	color: rgba(0, 0, 0, 0.3);
}

.first_swiper_container .swiper_button_next {
	bottom: 20px;
	right: 8px;
	color: rgba(0, 0, 0, 0.3);
}

/* 스와이퍼 끝 */ /* 스와이퍼 끝 */ /* 스와이퍼 끝 */ /* 스와이퍼 끝 */ /* 스와이퍼 끝 */
hr.hr_second {
	background-color: rgba(0, 0, 0, 0.1);
	clear: both;
}

.second_header {
	position: relative;
}

.second_header .second_row {
	height: 120px;
	display: flex;
	flex-wrap: nowrap;
	line-height: 120px;
}

.second_header>.col_1st {
	vertical-align: middle;
	width: 240px;
}

.second_header>.col_2nd {
	vertical-align: bottom;
	width: 240px;
}

.second_header>.col_3rd {
	vertical-align: middle;
	width: 240px;
}

.second_header .col_3rd .btn::after {
	display: none; /* 화살표를 없애는 스타일 */
}

.second_header .col_3rd {
	display: flex;
	align-content: space-evenly;
}

.second_header .second_row {
	position: relative;
}

.second_header .col_1st {
	position: relative;
	left: -55px;
}

.second_header .col_2nd {
	position: relative;
}

.second_header .col_3rd {
	position: relative;
	left: 80px;
}

.second_header .col_2nd {
	position: relative;
	top: 21px;
}

.second_header .col_3rd .btn {
	color: rgba(0, 0, 0, 0.6);
	margin: 0;
}

/* 세번째 헤더부분 */ /* 세번째 헤더부분 */ /* 세번째 헤더부분 */ /* 세번째 헤더부분 */
/* 세번째 헤더부분 */
.third_header .btn::after {
	display: none; /* 화살표를 없애는 스타일 */
}

hr.hr_third {
	background-color: rgba(0, 0, 0, 0.1);
	clear: both;
}

.third_header {
	position: sticky;
	height: 50px;
	line-height: 50px;
}

/* 세번째 헤더부분 offcanvas */

/* 스크롤바 너비 */
.first_offcanvas_body::-webkit-scrollbar {
	width: 3px;
}

/* 스크롤바 길이,색상 */
.first_offcanvas_body::-webkit-scrollbar-thumb {
	height: 1px; /* 더 이상 짧게 못함 */
	background: rgba(0, 0, 0, 0.3);
}

/* 스크롤바 뒷 배경 색상 */
.first_offcanvas_body::-webkit-scrollbar-track {
	background: white;
}

.first_offcanvas {
	width: 250px;
	padding: 0px 10px;
	margin: 0;
}

.offcanvas_scroll_part { /* fixed밑으로 들어간 애들 빼내야하기 때문 */
	margin-bottom: 250px;
}

.third_header .col_1st .first_offcanvas .offcanvas-title {
	padding-top: 20px;
	font-weight: bold;
}

.third_header .col_1st .first_offcanvas .offcanvas_scroll_part {
	font-size: 13px;
	font-weight: 590;
	line-height: 13px;
	padding: 3px 0px;
	text-decoration: none;
}

.third_header .col_1st .first_offcanvas .offcanvas_scroll_part .offcanvas_list_part p
	{
	padding: 3px 0px;
}

.third_header .col_1st .first_offcanvas .offcanvas_scroll_part p:first-child
	{
	font-weight: 550;
}

.third_header .col_1st .first_offcanvas .offcanvas_scroll_part p:last-child
	{
	margin-bottom: 30px;
}

.third_header .col_1st .first_offcanvas .offcanvas_scroll_part a {
	text-decoration: none;
	color: black;
}

.third_header .col_1st .first_offcanvas .offcanvas_scroll_part hr {
	width: 100%;
	color: rgba(0, 0, 0, 0.3);
}

.offcanvas_fixed_part {
	position: fixed;
	height: 275px;
	left: 0;
	bottom: 0;
	background-color: white;
	width: 248px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding: 8px 30px;
}

.offcanvas_fixed_part span:first-child, span:nth-child(2) {
	padding-bottom: 5px;
	margin-bottom: 0;
}

.offcanvas_fixed_part span:first-child {
	margin-right: 10px;
	/* 색은 html속성으로줌 */
}

.offcanvas_fixed_part span:nth-child(2) {
	font-size: 12px;
	/* 색은 html속성으로줌 */
}

.offcanvas_fixed_part hr {
	margin: 0;
}

.first_offcanvas .offcanvas_fixed_part .offcanvas_inner_search_div {
	width: 200px;
	background-color: rgba(0, 0, 0, 0.065);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	margin-bottom: 10px;
	line-height: 1;
}

.first_offcanvas .offcanvas_fixed_part .offcanvas_inner_search_input {
	width: 160px;
	height: 35px;
	padding: 0px 10px;
	font-size: 12px;
	background-color: rgba(0, 0, 0, 0.001);
	border: none;
}

.first_offcanvas .offcanvas_fixed_part .offcanvas_inner_search_input:active
	{
	border: none;
}

.first_offcanvas .offcanvas_fixed_part .offcanvas_inner_search_div button
	{
	height: 35px;
	border: none;
}

.first_offcanvas .offcanvas_fixed_part .offcanvas_inner_sticky_btn_group
	{
	line-height: 2;
}

.first_offcanvas .offcanvas_fixed_part .offcanvas_inner_sticky_btn_group button
	{
	border-radius: 4px;
	font-size: 11px;
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.6);
	line-height: 1;
	padding: 8px;
}

.first_offcanvas .offcanvas_fixed_part .offcanvas_inner_sticky_btn_group a
	{
	text-decoration: none;
	color: black;
	line-height: 1;
}

.first_offcanvas .offcanvas_fixed_part hr {
	margin: 10px 0px;
	color: rgba(0, 0, 0, 0.3);
}

.first_offcanvas .offcanvas_fixed_part .offcanvas_inner_sticky_service_part
	{
	text-align: center;
	line-height: 1;
}

.first_offcanvas .offcanvas_fixed_part .offcanvas_inner_sticky_service_part button:first-child
	{
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 10px 20px;
	font-size: 12px;
	border-radius: 4px;
	border: none;
}

.first_offcanvas .offcanvas_fixed_part .offcanvas_inner_sticky_service_part button:last-child
	{
	background-color: rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.75);
	padding: 10px 20px;
	font-size: 12px;
	border-radius: 4px;
	border: rgba(0, 0, 0, 0.3)
}

.third_header .col_1st {
	position: relative;
	left: -50px;
}

.third_header .col_2nd {
	text-align: center;
	position: relative;
	display: flex;
	left: 0px;
}

.third_header .col_3rd {
	position: relative;
	left: 90px;
}

.third_header .col_2nd .btn_group {
	position: relative;
}

.third_header .col_2nd .btn {
	display: inline-block;
	font-size: 13.1px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.8);
	text-decoration: none;
	position: relative;
}

.third_header .btn_group .a_dropdown {
	border: 1px solid rgba(0, 0, 0, 0.1);
	position: absolute;
	background-color: white;
	display: none;
	padding: 5px;
	align-content: center;
	box-sizing: border-box;
}

.third_header .btn_group .a_dropdown img {
	position: relative;
	float: left;
	clear: both;
	padding: 0;
	margin: 0;
}

.third_header .btn_group .a_dropdown .anchors {
	position: relative;
	float: left;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.65);
	font-weight: bold;
	font-size: 13px;
	padding: 0px;
}

.third_header .btn_group .a_dropdown .anchors:hover {
	background-color: rgba(0, 0, 0, 0.065);
}

.third_header .btn_group:first-child .a_dropdown {
	width: 280px;
	line-height: 20px;
	padding: 10px;
}

.third_header .btn_group:first-child .a_dropdown .anchors {
	padding: 4px;;
}

.third_header .btn_group:nth-child(2) .a_dropdown {
	width: 275px;
	line-height: 28px;
	padding: 10px;
}

.third_header .btn_group:nth-child(2) .a_dropdown .anchors {
	padding: 2px;
}

.third_header .btn_group:nth-child(3) .a_dropdown {
	width: 330px;
	line-height: 20px;
	padding: 10px;
}

.third_header .btn_group:nth-child(3) .a_dropdown .anchors {
	padding: 8px;
}

.third_header .btn_group:nth-child(4) .a_dropdown {
	width: 425px;
	line-height: 16px;
	padding: 10px;
}

.third_header .btn_group:nth-child(4) .a_dropdown .anchors {
	padding: 6px;
}

.third_header .btn_group:nth-child(5) .a_dropdown {
	width: 355px;
	line-height: 14px;
	padding: 10px;
}

.third_header .btn_group:nth-child(5) .a_dropdown .anchors {
	padding: 7px;
	font-size: 13px;
}

.third_header .btn_group:nth-child(6) .a_dropdown {
	width: 331px;
	line-height: 17px;
	padding: 10px;
}

.third_header .btn_group:nth-child(6) .a_dropdown .anchors {
	padding: 7px;
}

.third_header .btn_group:nth-child(7) .a_dropdown {
	width: 390px;
	line-height: 0px;
	padding: 10px;
}

.third_header .btn_group:nth-child(7) .a_dropdown .anchors {
	padding: 12px;
	font-size: 13px;
}

.third_header .btn_group:nth-child(8) .a_dropdown {
	width: 365px;
	line-height: 0px;
	padding: 10px;
}

.third_header .btn_group:nth-child(8) .a_dropdown .anchors {
	padding: 11px;
	font-size: 13px;
}

.third_header .btn_group:nth-child(9) .a_dropdown {
	width: 320px;
	line-height: 3px;
	padding: 10px;
}

.third_header .btn_group:nth-child(9) .a_dropdown .anchors {
	padding: 11px;
}

.third_header .btn_group:nth-child(11) .btn {
	width: 70px;
}

.third_header .btn_group:nth-child(12) .btn {
	width: 90px;
}

.third_header .btn_group:nth-child(13) .btn {
	width: 90px;
}

/* 모달부분 */ /* 모달부분 */ /* 모달부분 */ /* 모달부분 */ /* 모달부분 */ /* 모달부분 */
.first_modal {
	position: fixed;
	display: none;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999999;
	background-color: rgba(0, 0, 0, 0.8);
}

/* 모달 여는 검색버튼 */
.first_outer_open_modal_btn {
	border: none;
	background-color: white;
	position: relative;
	left: 15px;
}

/* 첫번째 모달 안의 엑스박스 */
.first_modal .first_modal_body .modal_first_inner {
	line-height: 0;
	border: none;
	overflow: auto;
}

.first_modal .first_modal_body .modal_first_inner .modal_inner_close_btn
	{
	padding: 0;
	display: inline-block;
	border: none;
	position: absolute;
	top: 30px;
	right: 45px;
	overflow: hidden;
}

.first_modal .first_modal_body .modal_first_inner .modal_inner_close_btn
	{
	padding: 0;
}

.first_modal .first_modal_body .modal_first_inner .modal_inner_close_btn svg,
	path {
	background-color: rgba(0, 0, 0, 0.787);
	color: rgba(255, 255, 255, 0.787);
}

/* 두번째 모달 안의 검색창&검색버튼 */
.first_modal .first_modal_body .modal_second_inner {
	display: inline-block;
	border-bottom: 2px solid white;
	width: 171%;
	display: flex;
	position: relative;
	top: 220px;
	left: -41%;
}

.first_modal .first_modal_body .modal_second_inner>.modal_search_input {
	background: rgba(0, 0, 0, 0.002);
	border: none;
	width: 171%;
	height: 80px;
	line-height: 60px;
	font-size: 33px;
	padding: 30px;
	margin-right: auto;
	color: white;
}

.first_modal .first_modal_body .modal_second_inner>.modal_search_input:focus
	{
	outline: none;
}

.first_modal .first_modal_body .modal_second_inner>.modal_search_btn {
	background: rgba(0, 0, 0, 0.002);
	border: none;
	text-align: right;
	padding: 30px;
	margin-left: auto;
}

/* 세번째 모달 안의 여러 버튼들 */
.first_modal .first_modal_body .modal_third_inner {
	position: relative;
	width: 400px;
	text-align: left;
	top: 39%;
	left: 51%;
}

.first_modal .first_modal_body .modal_third_inner button {
	background: rgba(0, 0, 0, 0.002);
	border: 1px solid white;
	margin: 5px;
}

.first_modal .first_modal_body .modal_third_inner button a {
	display: inline-block;
	border: none;
	text-decoration: none;
	color: white;
	font-size: 13px;
	padding: 12px;
	height: 12px;
	line-height: 12px;
	vertical-align: middle;
	margin-bottom: 15px;
	font-weight: bolder;
}

.first_modal .first_modal_body .modal_third_inner button:hover {
	background-color: black;
}
   