@charset "UTF-8";

	.join-title{
		display: block; /* span을 블록처럼 동작하도록 변경 */
	    text-align: center;
	    font-weight: bold;
	    color: #000;
    }
	.joinWapper{
	    display: grid;
    	    grid-template-rows: repeat(4, 4fr 2fr);

}
    .join-container .join-title > p {	/* 얘는 왜 색깔 안됨??? */
    	font-size: 22px;
    	padding: 5px;
    	font-weight: bolder;
    	letter-spacing: 5px;
    }
    
    .textOption {
    	font-weight: 800;
    	color: rgba(0, 0, 0, 0.6);
    	font-size: 14px;
    }
    
    .userInfo {
       display: grid;
    grid-template-columns: repeat(1, 1fr 2fr 1fr);
    align-items: center;
    } 
    
    .userInfo input {
	    margin-right: 10px; /* 각 input 요소 간에 10px 간격 추가 */
	    text-align: center; /* 입력 값이 가운데 정렬되도록 설정 */
	}

	#user_phone_text {
    	margin-right: 10px; /* 텍스트와 input 사이 간격 추가 */
	}
   

	.phone_Text input {
	    width: 50px; /* 각 input 요소의 너비를 50px로 설정 */
	    margin-right: 10px; /* 각 input 요소 간에 10px 간격 추가 */
	    }    
	    
	    
	.joinButton{
	    display: flex;
	    align-items: center;
	    padding: 24px 0px 20px;
    }
    
    .join-container{
	    margin: 0 auto;
	    display: flex;
	    align-items: flex-start;
	    justify-content: center;
    }
   
         
    .join-container .btn-cancel{
    	background: white;
    	border: 1px solid lightgray;
    	width: 125px;
		height: 50px;
    }
    .join-container input{
    	border: 1px solid rgba(0, 0, 0, 0.08);
    	
    }
    
    .join-container .btn-join, .idCheck {
		color: white; 
		font-weight: bolder; 
		background: #3ed4be;
		border: 1px solid lightgray;
		width: 125px;
		height: 50px;
	}
	