
.mainWapper{
	    padding: 0px 75px;
}

.mainSwiper{
	position: sticky; /* 상단 hover 메뉴 보이기 위한 설정*/
	
	grid-row: 2;
	padding: 120px 0px 120px; /* 위 아래 요소들이랑 겹치지 않게 설정s*/

	width: 100vw;
    height: 670px;
}

.noticSection{
	grid-row: 3;

}

.noticeInnser{
	display: flex; /* 메인에 들어가는 하위 요소를 flex으로 정*/
    justify-content: center;
}

.noticeText{
	width: 200px;
}

.mainItem{
	display: flex;
}

.mainCategory{
	display:flex;
}

.subCategory{
    display: flex;
    justify-content: flex-end;
}	

.cateGory{
    flex-grow: 1;
    gap: 15px;
}



.onclickInner{
	display: flex;
}


/* 주목 받는 아이템 */
 .section {
    display: none; /* 기본적으로 모든 섹션 숨김 */
  }

  .categroyOption {
    display: flex;
    justify-content: space-around; /* 요소를 양쪽 끝에서부터 균등하게 배치 */
    align-items: center; /* 수직 중앙 정렬 */
  }


 .secondSwiper > swiper-container {
   width: 50vw; /* 두 개의 Swiper가 50vw씩 차지하도록 설정 */
   flex: 1; /* flex를 통해 부모의 공간을 균등하게 분할 */
   }

/* bestItem grid으로 잡고 같은 1:1비율로 설*/
.itemWapper {
   display: grid;
   grid-template-columns: repeat(4, 1fr); /* 2열로 설정, 필요에 따라 3, 4열 등으로 변경 */
   grid-template-rows: repeat(5, 1fr); /* 4행 */
   gap: 20px; /* 그리드 항목 사이 간격 */
   }

 /* 그리드 항목 내의 이미지 크기 조정 */
.itemWapper > div {
	display: flex;
    flex-direction: column;
    align-items: center; /* 가운데 정렬 */
        }

.itemWapper > div img {
    width: 100%; /* 이미지가 그리드 셀의 너비에 맞도록 설정 */
    height: auto; /* 이미지의 종횡비 유지 */
}








