*{margin: 0 auto; padding: 0;}

/* 첫번째 헤더부분 */ /* 첫번째 헤더부분 */ /* 첫번째 헤더부분 */ /* 첫번째 헤더부분 */

.first_header {
    font-size: 12px;
    height: 43px;
    line-height: 43px;
    vertical-align: middle;
    position: relative;
}

.first_row{
    position: relative;
}
/* ====수정부분===== */
.first-drop{  
  z-index: 500;
  padding: 0;
}
.dropdown-li{
  display: flex;
}
.second-drop{
  position: absolute;
  top: 9%;
  line-height: normal;
  object-fit: contain;
}
/* ================= */
.btn-link {
/* white-space 속성을 normal로 변경하여 텍스트 줄 바꿈 가능하도록 함 */
white-space: normal;
}

.first_header .col_1st > .btn::after{
    content: " | ";
    color: rgba(0, 0, 0, 0.3);
    font-size: 0.9em;
}

.first_header .dropdown-divider {
    border-top: 1px dashed gray;
}

.first_header .btn{
    font-size: 1em;
    text-decoration: none;
    padding: 10px 0px;
}

.first_header .btn-group{
    font-size: 1.1em;
}

/* 화살표를 없애는 스타일 */
.first_header .btn-group .btn.dropdown-toggle::after {
    display: none; 
}

hr.hr_first{
    background-color: rgba(0, 0, 0, 0.1);
    clear: both;
}

 .first_header .col_1st > .btn::before{
    content: " / ";
    color: rgba(0, 0, 0, 0.3);
    font-size: 0.9em;
}  

.first_header .col_1st > .btn{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.1);
    width: 129px;
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    left: -40px;
}

.first_header .col_2nd > .btn{
    font-weight: bolder;
    width: 96px;
    display: inline-block;
    position: relative;
    left: -22px;
    flex-shrink: 0;
}

.first_header .col_3rd {
    font-weight: bolder;
    width: 753px;
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    left: -23px;
    flex-shrink: 0;
}

.first_header .col_4th > .btn-group{
    font-weight: bolder;
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    left: -35px;
    flex-shrink: 0;
    }

 .first_header .col_4th .dropdown-menu .dropdown-item{
 font-weight: bold;
 font-size: 13px;
 margin: 0;
 padding: 0;
 text-align: center;
 width: 115px;
}

.first_header .col_5th > .btn-group{
    font-weight: bolder;
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    left: -13px;
}

.first_header .col_5th .btn-group .dropdown-menu{
    font-size: 13px;
    text-align: center;
}

.first_header .col_5th .dropdown-menu .dropdown-item{
    font-weight: bold;
    text-align: center;
}

.first_header .col_6th > .btn-group{
    font-weight: bolder;
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    flex-shrink: 0;
    left: -35px;
}

.first_header .col_6th .btn-group .dropdown-menu{
    font-size: 13px;
    text-align: center;
    
}

.first_header .col_6th .dropdown-menu .dropdown-item{
    font-weight: bold;
    text-align: center;
    
}

.first_header .col_7th > .btn-group{
    font-weight: bolder;
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    left: 1235px;
    top: -44px;
}

.first_header .col_7th .btn-group .dropdown-menu{
    font-size: 13px;
    text-align: center;
}

.first_header .col_7th .dropdown-menu .dropdown-item{
    font-weight: bold;
    text-align: center;
}


/* 두번째 헤더부분 */ /* 두번째 헤더부분 */ /* 두번째 헤더부분 */ /* 두번째 헤더부분 */

hr.hr_second{
    background-color: rgba(0, 0, 0, 0.1);
    clear: both;
}

.second_header{
    position: relative;
}

.second_header .second_row{
    height: 120px;
    display: flex;
    flex-wrap: nowrap;
    line-height: 120px;
    display: flex;
}

.second_header > .col_1st{
    vertical-align: middle;
    width: 240px;
}

.second_header > .col_2nd{
    vertical-align: bottom;
    width: 240px;
}

.second_header > .col_3rd{
    vertical-align: middle;
    width: 240px;
}

.second_header .col_3rd .btn::after {
    display: none; /* 화살표를 없애는 스타일 */
}

.second_header .col_3rd{
    display: flex;
    align-content: space-evenly;

}


/* 스와이퍼쪽 */ /* 스와이퍼쪽 */ /* 스와이퍼쪽 */ /* 스와이퍼쪽 */ /* 스와이퍼쪽 */
.swiper-container {
    position: relative;
    height: 120px;
    width: 240px;
}

.swiper-pagination {
  position: absolute;
  z-index: 100;
  text-align: center;
}

.arrow {
  position: absolute;
  z-index: 100;
  border-radius: 5px;
  cursor: pointer;
}

.first_swiper_container, .first_swiper_wrapper{
    margin: 0;
    padding: 0;
}


/* 스와이퍼 끝 */ /* 스와이퍼 끝 */ /* 스와이퍼 끝 */ /* 스와이퍼 끝 */ /* 스와이퍼 끝 */



.second_header .col_1st{
    text-align: left;
}

.second_header .col_2nd{
    text-align: center;
}

.second_header .col_3rd{
    text-align: right;
}



.second_header .col_3rd .dropdown-center ul.dropdown-menu li{
    display: block;
    margin: 0;
    padding: 0px;
    width: 100px;
    height: 20px;
}


.second_header .col_2nd{
    position: relative;
    top: 21px;
}


.second_header .col_3rd .btn{
    color: rgba(0, 0, 0, 0.6);
}


/* 세번째 헤더부분 */ /* 세번째 헤더부분 */ /* 세번째 헤더부분 */ /* 세번째 헤더부분 */ /* 세번째 헤더부분 */

.third_header .btn::after {
    display: none; /* 화살표를 없애는 스타일 */
}

hr.hr_third{
    background-color: rgba(0, 0, 0, 0.1);
    clear: both;
}

.third_header{
    position: sticky;
    top: 0;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    z-index: 300;
    background-color: white;
}

.third_header .col_2nd{
    text-align: center;
}

.third_header .col_2nd .btn{
    font-size: 13px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
}

.third_header .col_2nd .btn-group .dropdown-menu li{
    padding: 0;
    margin: 0;
    background-color: white;
}

/* 정세진 파트 */
.carousel-inner{
  height: 550px;
  background-color: whitesmoke;
  transition: opacity 0.5s ease;
}

.inner-img{
  width: 100%;
  height: 550px;
  object-fit: contain;
}

/* 전체 p,h5태그 적용(주의) */
p,h5{
  color: white;
}

.mid{
  height: 200px;
  background-color: whitesmoke;
  overflow: hidden;
  object-fit: contain;
}

.mid-scroll{
    height: 200px;
    overflow-y: scroll;
}

.mid-scroll::-webkit-scrollbar{
    width: 5px;
    height: 1px;
    background-color: white;
}

.mid-scroll::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 5px 5px 5px 5px;
}
.mid-scroll::-webkit-scrollbar-thumb:hover{
    background: darkslategray;
    width: 10px;
}


.mid-img{
  height: 200px;
  object-fit: contain;
}
.mid-con, .under-container{
  margin-top: 100px;
  margin-bottom: 50px;
}

/* 주목받는 아이템 */
.menubar{
    text-align: center;
    margin-bottom: 75px;
}

.product-container{
    display: flex;

}

.product-container{
    height: 500px;
    display: none;
}

.product-container.active{
    display: flex;
}

/* ============== */

.card-title{
    color: black;
}

.card-container{
  position: relative;
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card{
  margin-left: 5px;
  margin-right: 5px;
}
.card-img{
  height: 250px;
}
.card-text{
  color: black;
}
.under-img{
    width: 100%; height: 100%;
    object-fit: cover;
}
.in-midimg{
    height: 420px;
    margin-bottom: 50px;
}
/* 영웅이 파트 */


.col {
    margin-top: 10px;
}


.text{
display:flex;
}

/* text의 p마다 간격 */
.text p {
margin-right:10px;
}

.card {
border-style : none;
}

/* row 상품 목록 hover */
.card:hover{
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


/* -----------------------------------------2번째 탭------------------------------------ */
.second_banner_ad{
    margin : 0 auto;
}

.second_banner_ad_img {
    object-fit: contain;
    width:100%;
    height:100%;
    margin:0;
}

.second_banner_ad>td{
    width:50%;
    padding:0;
    margin:0;
}

.image-container {
    position: relative;
    display: inline-block;
}


.second_banner_ad_content {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    color: white;
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.second_banner_ad_content p {
    border : 1px solid white;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.image-container:hover .second_banner_ad_content {
    opacity: 0.5;
}
/* --------------------------------------3번째 탭----------------------------------------- */
  .third_banner_ad {
    display: flex;
    justify-content: center;
    position:relative;
}

.third_banner_ad_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-color: rgba( 0, 0, 0, 0 );
  transition:  0.2s linear;
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.third_banner_ad_img {
  width: 25%;
  height: 25%; 
  display: inline-block;
  position: relative;
  z-index: 1;
}

  .third_banner_ad_content:hover{
    background-color: rgba( 0, 0, 0, 0.3 );
  }

 .btn {
    font-size: 15px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-weight: bold;
    position: relative;
    transition: all 0.4s;
    overflow: hidden;
}

.btn::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100%;
    left: 0;
    transition: all 0.4s;
    z-index: -1;
    background-color: white;
}

.btn:hover::before {
    transform: translateY(-100%);
}

.btn:hover {
    color: black;
}