

.loginWapper {
    width: 1020px;
    height: 520px;
    display: block;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	
}

.loginInner{
	display: grid;
    
    height: 270px;
    gap: 0;
    
    text-align: center;
    align-items: center;
    
    
    padding: 15px 15px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    
}

.loginSection{
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.form-control{
	width: 230px;
    height: 40px;
}

#addon-wrapping{
	padding: 0px 14px 0px
}

.btn-primary{
	background: #3ed4be;
	color: white;
	border: 1px solid lightgray;
	width: 125px;
	height: 50px;
	
	height: 40px;
    border-radius: 4px;	
}
